<h1>The Project</h1>

<p>This project is being completed by <%= link_to "Michael Gottfried", "http://github.com/shagmbg", target: "_blank"%> for the <%= link_to "One Month Rails", "http://onemonthrails.com", target: "_blank" %> course.</p>